<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Somos una empresa especializada en turimo europeo">
    <meta name="keywords" content="VIAJES, TURISMO, ESPAÑA, INGLATERRA, FRANCIA, ITALIA, EUROPA, VUELOS">
    
    <title>Contacto</title>
    <!-- GOOGLE FONTS -->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Fredoka:wght@500&family=Lobster&display=swap" rel="stylesheet">
    
    <!-- ICONOS -->
    <script src="https://kit.fontawesome.com/a1b007074e.js" crossorigin="anonymous"></script>
    
    <!--CSS -->
    <link rel="stylesheet" href="../css/estilo.css">
  </head> 
  <body class="body-css">
    <div id="grilla-contacto">
    <!--El header, contiene la nav, la cual posee logo y links a las distintas views -->
    <header>
      <div class="logo-nav-container">
        <a href="../index.html" class="logo">EuroTravel</a>
        <nav class="nav-css">
            <a href="../index.html" class="nav__item">Inicio</a>
            <div class="drop-down">
              <button class="dropbtn" class="nav__item">Destinos 
              </button>
              <div class="dropdown-content">
                <a href="españa.html" class="nav__item">España</a>
                <a href="inglaterra.html" class="nav__item">Inglaterra</a>
                <a href="italia.html" class="nav__item">Italia</a>
                <a href="francia.html" class="nav__item">Francia</a>
              </div>
            </div> 
            <a href="cotizaciones.html" class="nav__item">Cotizador</a>
            <a href="nosotros.html" class="nav__item">Nosotros</a>
            <a href="contacto.html" class="nav__item">Contacto</a>
        </nav>
      </div>
    </header>
    <!-- fin de header y nav -->
    <!-- COMIENZO DE MAIN. Contiene contacto, rrss y mapa de como llegar -->
    <main>
        <div class="contacto-titulo">
          <h1>Contacto</h1>
          <hr>
        </div>
        <div class="contacto-texto">
          <p>
            Direccion: Av. Corrientes 1455 <br>
            Telefono: 011-4223022 <br>
            Correo: eurotravel@gmail.com <br>
            Horario de atención: Lunes a viernes de 8:00 a 18:00 y Sábados de 8:30 a 12:30.
          </p>
        </div>
        <div class="contacto-iconos">
          <span><a href="https://es-la.facebook.com" class="icono"><i class="fa-brands fa-facebook"></i></a></span>
          <span><a href="https://www.instagram.com/?hl=es-la" class="icono"><i class="fa-brands fa-instagram"></i></a></span>
          <span><a href="https://twitter.com/?lang=es" class="icono"><i class="fa-brands fa-twitter"></i></a></span>
        </div>
        <div class="contacto-mapa">
          <h2>¿Como llegar?</h2>
          <hr>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22823.745587644018!2d-60.52118746581844!3d-31.749476175254898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b44df2b9835231%3A0x554ebde0aa5cfa9a!2zUGFyYW7DoSwgRW50cmUgUsOtb3M!5e0!3m2!1ses-419!2sar!4v1644159373571!5m2!1ses-419!2sar" width="" height="" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </main>
    <!-- Fin de main -->
    <!-- Comienzo de FOOTER. Contiene logo y copyright -->
    <footer class="foot_bac">
        <!--Logo-->
        <div class="logo-foot">
            <p>EuroTravel</p>
        </div>
        <!--copyright-->
        <div class="text-foot"><p>© 2022 EuroTravel. Todos los derechos reservados.</p></div>
    </footer>
    </div>
  </body>  
</html>