<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
    <title>Contacto</title>
    <!-- GOOGLE FONTS -->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Lobster&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Fredoka:wght@500&family=Lobster&display=swap" rel="stylesheet">
    
    <!--CSS -->
    <link rel="stylesheet" href="../css/estilo.css">
  </head> 
  <!--COMIENZO DE NAV-->
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">EuroTravel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">Destinos</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="../views/barcelona.html">España</a>
              <a class="dropdown-item" href="../views/londres.html">Inglaterra</a>
              <a class="dropdown-item" href="../views/roma.html">Italia</a>
              <a class="dropdown-item" href="../views/paris.html">Francia</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/cotizaciones.html">Cotizaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/contacto.html">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
      <!-- Fin de nav y logo -->

      <!-- Comienzo de nav. Incluye texto de contacto y mapa de google maps -->
    <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 contacto">
              <h1>Contacto</h1>
              <hr>
            <p>Direccion: Av. Corrientes 1455 <br>
              Telefono: 011-4223022 <br>
              Correo: eurotravel@gmail.com <br>
              Horario de atención: Lunes a viernes de 8:00 a 18:00 y Sábados de 8:30 a 12:30.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 contacto-redes">
              <span><a href="#" class="icono"><i class="bi bi-facebook"></i></a></span>
              <span><a href="#" class="icono"><i class="bi bi-instagram"></i></a></span>
              <span><a href="#" class="icono"><i class="bi bi-twitter"></i></a></span>
            </div>
          </div>
          <div class="row">
            <div class="col-12 contacto-mapa">
              <h2>¿Como llegar?</h2>
              <hr>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22823.745587644018!2d-60.52118746581844!3d-31.749476175254898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b44df2b9835231%3A0x554ebde0aa5cfa9a!2zUGFyYW7DoSwgRW50cmUgUsOtb3M!5e0!3m2!1ses-419!2sar!4v1644159373571!5m2!1ses-419!2sar" width="" height="" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
    </main>
      <!-- Fin de main -->

      <!--COMIENZO DE FOOTER. Contiene logo-->
    <footer>
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <div class="nombre-foot">
                      <p class="nombre-foot-text">EuroTravel</p>
                  </div>
                  <div class="redes-foot">
                    © 2022 EuroTravel. Todos los derechos reservados.
                  </div>
              </div>
          </div>
      </div>
    </footer>
    <!-- Fin de footer -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    
  </body>
</html>