<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Somos una empresa especializada en turimo europeo">
    <meta name="keywords" content="VIAJES, TURISMO, ESPAÑA, INGLATERRA, FRANCIA, ITALIA, EUROPA, VUELOS">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    
    <title>España</title>
    
    <!-- GOOGLE FONTS -->   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Fredoka:wght@500&family=Lobster&display=swap" rel="stylesheet">
    <!-- AOS -->  
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- CSS -->  
    <link rel="stylesheet" href="../css/estilo.css">
  </head> 
  <body>
    <!--COMIENZO DE NAV-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="../index.html">EuroTravel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">Destinos</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="../views/españa.html">España</a>
              <a class="dropdown-item" href="../views/inglaterra.html">Inglaterra</a>
              <a class="dropdown-item" href="../views/italia.html">Italia</a>
              <a class="dropdown-item" href="../views/francia.html">Francia</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/cotizaciones.html">Cotizaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/contacto.html">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Fin de nav y logo -->
    <!-- Comienzo de main. Contiene descripcion del destino, fotos y un video del mismo -->
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="titulo-destino">
              <h1>España</h1>
              <hr class="bandera-esp">
              <p>
                España es un país turístico con una desarrollada infraestructura en el sector servicios, situándose entre los tres más visitados del mundo, al que acuden anualmente millones de viajeros atraídos por sus playas y agradable clima, el abundante patrimonio artístico del país y la riqueza gastronómica, además de ser una de las naciones más ricas en patrimonio cultural del planeta debido al gran número de civilizaciones que dejaron su impronta y legado en la península ibérica.
              </p>
            </div>
          </div>
        </div>
        <div class="row galeria-titulo">
          <div class="col-12">
          <h2>Galeria</h2>
          <hr>
          </div>
        </div>  
        <div class="row galeria">
            <div class="col-lg-4 cont-imagen">
            <img src="../assets/img/barcelona4.jpg" alt="Barcelona vista desde el mar">
            </div>
            <div class="col-lg-4 cont-imagen">
            <img src="../assets/img/barcelona1.jpg" alt="Casa gaudi">
            </div>
            <div class="col-lg-4 cont-imagen">
            <img src="../assets/img/barcelona3.jpg" alt="Playas de barcelona">
          </div>
        </div>
        <div class="row galeria">
          <div class="col-lg-4 cont-imagen">
            <img src="../assets/img/España1.jpg" alt="Plaza">
          </div>
          <div class="col-lg-4 cont-imagen">
            <img src="../assets/img/España2.jpg" alt="Centro de Madrid">
          </div>
          <div class="col-lg-4 cont-imagen">
            <img src="../assets/img/España3.jpg" alt="Playa">
          </div>
        </div>
        <div class="row video-destino">
          <div class="col-12">
            <iframe width="" height="" src="https://www.youtube.com/embed/uOzwwZxjPRs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="row promociones-titulo">
          <div class="col-12">
            <h2>Promociones</h2>
          </div>
        </div>
        <div class="row promociones">
          <div class="col-12 col-md-3 promociones-card" data-aos="zoom-out">
            <div class="card" style="width: 18rem;">
              <img src="../assets/img/España2.jpg" class="card-img-top" alt="Centro de Madrid">
              <div class="card-body">
                <h5 class="card-title">Barcelona/Madrid</h5>
                <p class="card-text">6 Noches (3 en Barcelona y 3 en Madrid) <br>Hotel 4 estrellas, con desayuno y cena.
                </p>
                <a href="cotizaciones.html" class="btn btn-primary">Reservar</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 promociones-card" data-aos="zoom-out">
            <div class="card" style="width: 18rem;">
              <img src="../assets/img/barcelona3.jpg" class="card-img-top" alt="Playas de barcelona">
              <div class="card-body">
                <h5 class="card-title">Barcelona</h5>
                <p class="card-text">6 Noches<br>Hotel 4 estrellas, con desayuno y cena. <br>2 excurciones a eleccion.</p>
                <a href="cotizaciones.html" class="btn btn-primary">Reservar</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 promociones-card" data-aos="zoom-out">
            <div class="card" style="width: 18rem;">
              <img src="../assets/img/España1.jpg" class="card-img-top" alt="Plaza">
              <div class="card-body">
                <h5 class="card-title">Madrid</h5>
                <p class="card-text">6 Noches<br>Hotel 4 estrellas, con desayuno y cena. <br>2 excurciones a eleccion.</p>
                <a href="cotizaciones.html" class="btn btn-primary">Reservar</a>
              </div>
            </div>
          </div>
      </div>
    </main>
    <!-- Fin de main -->

   <!--COMIENZO DE FOOTER. Contiene logo-->
   <footer>
      <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="nombre-foot">
                    <p class="nombre-foot-text">EuroTravel</p>
                </div>
                <div class="redes-foot">
                  © 2022 EuroTravel. Todos los derechos reservados.
                </div>
            </div>
        </div>
      </div>
    </footer>
    <!-- Fin de footer -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>