<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    
    <title>Inglaterra</title>
    <!-- GOOGLE FONTS -->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Lobster&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Fredoka:wght@500&family=Lobster&display=swap" rel="stylesheet">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../css/estilo.css">
  </head>
  <body> 
    <!--COMIENZO DE NAV-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">EuroTravel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">Destinos</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="../views/barcelona.html">Barcelona</a>
              <a class="dropdown-item" href="../views/londres.html">Londres</a>
              <a class="dropdown-item" href="../views/roma.html">Roma</a>
              <a class="dropdown-item" href="../views/paris.html">Paris</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/cotizaciones.html">Cotizaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/contacto.html">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Fin de nav y logo -->
    <!-- Comienzo de main. Contiene descripcion del destino, fotos y un video del mismo -->
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 titulo-destino">
            <h1>Inglaterra</h1>
            <hr class="bandera-ing">
            <p>
                Siendo el lugar de nacimiento de Shakespeare, los Beatles y el desayuno inglés completo, las verdes y agradables tierras de Inglaterra nunca dejan de encantar. En esta pequeña isla, encontrarás antiguos círculos de piedra, universidades históricas, bucólicos campos y algunos de los sitios históricos más famosos.
            </p>
          </div>
        </div>
        <div class="row galeria-titulo">
          <div class="col-12">
            <h2>Galeria</h2>
            <hr>
          </div>
        </div>  
          <div class="row galeria">
            <div class="col-lg-4 cont-imagen">
              <img src="../assets/img/londres4.jpg" alt="">
              </div>
              <div class="col-lg-4 cont-imagen">
              <img src="../assets/img/inglaterra.jpg" alt="">
              </div>
              <div class="col-lg-4 cont-imagen">
              <img src="../assets/img/inglaterra5.jpg" alt="">
            </div>
          </div>
          <div class="row galeria">
            <div class="col-lg-4 cont-imagen">
              <img src="../assets/img/inglaterra1.jpg" alt="">
            </div>
            <div class="col-lg-4 cont-imagen">
              <img src="../assets/img/inglaterra2.jpg" alt="">
            </div>
            <div class="col-lg-4 cont-imagen">
              <img src="../assets/img/inglaterra3.jpg" alt="">
            </div>
          </div>
          <div class="row video-destino">
            <div class="col-12">
              <iframe width="" height="" src="https://www.youtube.com/embed/U14Xygvyo1I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="row promociones-titulo">
            <div class="col-12">
              <h2>Promociones</h2>
            </div>
          </div>
          <div class="row promociones">
            <div class="card" style="width: 18rem;">
              <img src="../assets/img/inglaterra2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Londres</h5>
                <p class="card-text">6 Noches<br>Hotel 4 estrellas, con desayuno.<br> <br> *2 excurciones a eleccion.
                </p>
                <a href="#" class="btn btn-primary">Reservar</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="../assets/img/londres4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Londres/Manchester</h5>
                <p class="card-text">6 Noches (3 en Londres y 3 en Manchester)<br>Hotel 4 estrellas, con desayuno y cena.</p>
                <a href="#" class="btn btn-primary">Reservar</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="../assets/img/inglaterra3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Liverpool</h5>
                <p class="card-text">6 Noches<br>Hotel 4 estrellas, con desayuno y cena. <br>*2 excurciones a eleccion.</p>
                <a href="#" class="btn btn-primary">Reservar</a>
              </div>
            </div>
          </div>
      </div>
    </main>
    <!-- Fin de main -->

    <!--COMIENZO DE FOOTER. Contiene logo-->
    <footer>
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <div class="nombre-foot">
                      <p class="nombre-foot-text">EuroTravel</p>
                  </div>
                  <div class="redes-foot">
                    © 2022 EuroTravel. Todos los derechos reservados.
                  </div>
              </div>
          </div>
      </div>
    </footer>
    <!-- Fin de footer -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  </body>
</html>