<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
    <title>Nosotros</title>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Lobster&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Fredoka:wght@500&family=Lobster&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/estilo.css">
  </head> 
  <body>
    <!--COMIENZO DE NAV-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">EuroTravel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">Destinos</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="../views/barcelona.html">España</a>
              <a class="dropdown-item" href="../views/londres.html">Inglaterra</a>
              <a class="dropdown-item" href="../views/roma.html">Italia</a>
              <a class="dropdown-item" href="../views/paris.html">Francia</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/cotizaciones.html">Cotizaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/contacto.html">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Fin de nav y logo -->
    <!--COMINEZO DE MAIN-->
    <main class="main-nosotros">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="nosotros-texto">
                      <h1>¿Quienes somos?</h1>
                      <hr>
                      <p>EuroTravel es una agencia de viajes con mas de 10 años de trayectoria en el mercado, caracterizada por el buen servicio y oferta de productos turísticos de calidad en destinos europeos, trabajando con un equipo de más de 15 personas comprometido con cumplir los sueños de viaje de nuestros clientes. Coordinamos todos los servicios de un paquete turístico, como tiquetes aéreos, alojamiento, alimentación, traslados, tours, asistencias médicas, alquiler de autos, entre otros. Igualmente gestionamos todos los servicios de viajes corporativos, convenciones, viajes de incentivos y eventos. <br>
                      Somos una empresa comprometida con el desarrollo sostenible, que respeta el patrimonio natural y cultural de cada país, promoviendo con clientes, proveedores y empleados prácticas responsables con el medio ambiente, comunidades locales y patrimonio cultural.</p>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-12 nosotros-servicio">
                <div class="nosotros-servicio-icons">
                  <span><i class="bi bi-people-fill"></i><p>Mas de 100.000 pasajeros</p></span>
                  <span><i class="bi bi-geo-alt-fill"></i><p>Mas de 25 destinos</p></span>
                  <span><i class="bi bi-award-fill"></i><p>Certificado de exelencia</p></span>
                </div>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-12 nosotros-imagen">
                <img src="../assets/img/turistas.jpg" alt="">
                <img src="../assets/img/turistas2.jpg" alt="">
              </div>
            </div>
        </div>
    </main>
       <!--COMIENZO DE FOOTER. Contiene logo-->
    <footer>
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <div class="nombre-foot">
                      <p class="nombre-foot-text">EuroTravel</p>
                  </div>
                  <div class="redes-foot">
                    © 2022 EuroTravel. Todos los derechos reservados.
                  </div>
              </div>
          </div>
      </div>
    </footer>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  </body>
</html>